.event-container
  { background-color: white; 
}

div.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  
  button.new-event {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  
  @media (max-width: 720px) {
    div.events {
      grid-template-columns: 1fr;
    }
  }

  .demo-table {
    width: 100%;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }