<mat-toolbar color="tool-bar-header" class="mat-elevation-z10">
  <button mat-raised-button=>TEST ORGANIZATION</button>
  <span class="fill-remaining-space"></span>
</mat-toolbar>

<mat-toolbar color="tool-bar-crisis" class="mat-elevation-z10">
  <button mat-button>GERMAN HUB</button>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<br>
<mat-toolbar class="tool-bar-tools" color="tool-bar-tools" class="mat-elevation-z10">
  <button mat-button>Dashboard</button>
  <button mat-button>Situation</button>
  <button mat-button>Map</button>
  <span class="fill-remaining-space"></span>
</mat-toolbar>


  <div class="view-container">
    <!-- <app-events></app-events>  -->
    <router-outlet></router-outlet>
  </div>
