.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  div.view-container {
    padding: 15px 0px;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }

/* ____________________________ TOOL-BAR SETTINGS ____________________________*/

/* _____HEADER TOOL-BAR ____________________________*/

  .mat-toolbar-row {
    min-height: 50px !important; 
    height: 50px !important;
  }

  .mat-toolbar {
    min-height: 50px !important; 
    height: 50px !important;
  }

  .mat-toolbar.mat-tool-bar-header{
    background: #28313D;
    color: #fff;
  }

  .mat-raised-button{
    background-color: #47A252;
    color: #fff; 
    font-weight :bold;
  }

  
/* _____SECOND TOOL-BAR (CRISIS)____________________*/

  mat-toolbar.mat-tool-bar-crisis{
    background: #323A4A;
    color: #fff;
  }

  mat-toolbar.mat-tool-bar-tools{
    background: #323A4A;
    color: #fff;
    
  }

  mat-raised-button.mat-crisis{
    background-color: #ffffff00;
    color: #fff; 
    font-weight :bold;
  }

  .mat-button {
    background-color: #ffffff00;
    color: #fff; 
 
  }

